$color-white: rgba(255, 255, 255, 1);

.para-leader {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(244, 244, 244, 1);
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-white;
  border-radius: 8px;
  .image {
    margin: 15px 0px 15px 15px;
    padding-right: 40px;
    width: 150px;
    .img {
      background-position: center;
      background-size: cover;
      width: 120px;
      height: 160px;
    }
  }
  .information {
    width: calc(100% - 300px);
    margin-top: 10px;
    margin-bottom: 10px;
    .label {
      margin-right: 10px;
    }
    .open {
      word-break: break-word;
    }
    .close {
      white-space: pre;
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      .button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.65);
      }
      .button:focus {
        outline: none;
      }
    }
  }
}
